<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        
        <!-- Custom CSS -->
        <link rel="stylesheet" href="css/sidenav.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/library.css">
		<link rel="stylesheet" href="css/override.css">

    </head>
    <body>
        <!-- navbar -->     
        <nav class="main navbar navbar-default sidebar" role="navigation">
            <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                <img id="brand" src="img/sabbia.PNG" class="" href="index.html"/>
            </div>
            <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="index.html">Home<span style="font-size:16px;"></span></a></li>
                <li class="dropdown">
                  <a href="about.html" class="dropdown-toggle" data-toggle="dropdown">About <span class="caret"></span><span style="font-size:16px;"></span></a>
                  <ul class="dropdown-menu forAnimate" role="menu">
                    <li><a href="about.html#board">Board</a></li>
                    <li><a href="about.html#glance">In a Glance</a></li>
                    <li><a href="legal.html">Legal</a></li>
                    <li><a href="chain.html#virtual">Virtual Supply Chain</a></li>
                    <li><a href="chain.html#distribution">Distribution Chain</a></li>
                  </ul>
                </li>     
                <li ><a href="service.html">Services<span style="font-size:16px;" ></span></a></li>
                <li ><a href="portfolio.html">Portofolios<span style="font-size:16px;" ></span></a></li>
                <li class="push"><a href="connect.html">Connect<span style="font-size:16px;" ></span></a></li>
                <li class="ta-c footer">
                	<span style="font-size:9px; margin-top:100%; margin-bottom:0;letter-spacing:0.25px;word-spacing:0.5px; color: #084975">
                		&copy; PT. Sabbia Dharma Industries, 2015
            		</span>
            	</li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- /navbar -->
        
		<div class="container margin-left-200 col-xs-12" id="content">
			<div id="about" class ="row col-xs-hide">
				<div class="col-md-3 col-xs-12 pull-right margin-top-50 padding-md-top-75">
					<h1> manfaat abadi </h1>
				</div>
					<img id="aboutIcon" src="img/sabbia-white.gif" class="wdt-10"/>
				
			</div>
			<div id="board" class="row">
				<div class="row md-no-margin">
					<div class="col-md-4 col-xs-12 margin-top-10 margin-left-50 txtAlgnCenter">
						<h1 class="margin-top-10">The Board</h1>
						<hr class="veryThin bg-black wdt-100">
					</div>
				</div>
				<div class="row md-no-margin">
					<div class="col-md-2 col-xs-12 txtAlgnCenter">
						<img src="img/karaeng1.png" class="margin-top-10 margin-left-50" />
					</div>
					<div class="col-md-4 col-xs-12 paddingLeftRight40 justifyTxtAlight">
						<h2 class="txtAlgnCenter director-heading"><b>Karaeng R. Adjie</b></h2>
						<h3 class="director-sub-heading">Chief Executive Officer</h3>
						<h4>
							A trained chemical engineer, Mr. Adjie is educated in the
							engineering faculty of the University of Indonesia. A dedicated
							Problem slayer within the company, Mr. Adjie holds the role in
							envisioning the company’s grand strategic goals and its
							execution in ruthless precision. An avid enthusiast of
							Engineering, Energy and Technology, Mr. Adjie is deeply rooted
							in the spirit of measurable innovation and drives the delivery of
							the company’s services with a perpetual sense of
							continuous-improvement.
						</h4>
					</div>	
					<div class="col-md-2 col-xs-12 txtAlgnCenter padding-md-top-15">
						<img src="img/faisal1.png" class="margin-top-10 margin-left-50" />
					</div>
					<div class="col-md-4 col-xs-12 paddingLeftRight40 justifyTxtAlight">
						<h2 class="txtAlgnCenter director-heading"><b>M. Faisal Suhaeli Kalla</b></h2>
						<h3 class="director-sub-heading">Chief Financial Officer</h3>
						<h4>
							A wielder of the art of economics, graduated from the University
							of Indonesia and the University of Queensland in flying colors.
							Mr. Faisal is responsible to engineer and uphold strategic
							financial integrity across the company. As a meticulous man of
							finance, Mr. Faisal presses the delivery of the company’s
							services through carefully managing financial risks and
							opportunities from his iron-clad style of financial management.
						</h4>
					</div>	
				</div>
				
				<div class="row margin-top-10 md-no-margin">
					<div class="col-md-2 col-xs-12 txtAlgnCenter padding-md-top-15">
						<img src="img/febry1.png" class="margin-top-10 margin-left-50" />
					</div>
					<div class="col-md-4 col-xs-12 paddingLeftRight40 justifyTxtAlight">
						<h2 class="txtAlgnCenter director-heading"><b>Akhmad Febry M. Nara</b></h2>
						<h3 class="director-sub-heading">Business Development Director</h3>
						<h4>
							Educated in the art of Law from the university of Trisakti. A
							formidable lawyer-turned-businessman, Mr. Febry is responsible
							for developing and seizing strategic partnerships and
							opportunities to secure sustainable growth across the company.
							A keen eye for politics and law, Mr. Febry draws his drive to
							deliver the company’s services by utilizing his talent for
							negotiation and innate ease of social engagement to sustain the
							company’s progressive development.
						</h4>
					</div>	
					<div class="col-md-2 col-xs-12 txtAlgnCenter padding-md-top-15">
						<img src="img/zakaria1.png" class="margin-top-10 margin-left-50" />
					</div>
					<div class="col-md-4 col-xs-12 paddingLeftRight40 justifyTxtAlight padding-md-top-15">
						<h2 class="txtAlgnCenter director-heading"><b>Zakaria Niode</b></h2>
						<h3 class="director-sub-heading">President Commissioner</h3>
						<h4>
							A trained civil engineer and a seasoned businessman, Mr.
							Zakaria is educated within the walls of the engineering campus
							of the University of Indonesia. He holds the role as the watchful
							eye that maintains bird’s eye perspective throughout the
							company’s operation. As a bearer of wisdom, Mr. Zakaria instills
							and upholds the company’s culture and morale and is dedicated
							to help make sure the company runs in its intended tracks.
						</h4>
					</div>	
				</div>
			</div>
			<div class="banner3 row margin-bottom-30 margin-top-10">
			</div>
			
			<div id="glance"class="row">
				<div class="col-md-6 col-xs-12 margin-top-10">
					<h1 class="margin-top-10">In A Glance</h1>
					<hr class="thin bg-gray wdt-75 pull-left">
					<h2 class="justifyTxtAlight"><i></br></br></br>
						PT Sabbia Dharma Industries is a downstream oil trading
						company operating within the area of greater Indonesia.
						We specialize in providing solutions for businesses in need of
						quality refined oil supply. Together with our strategic principals,
						we commit to provide one stop refined oil supply related
						services for your needs.The scope of our services range from
						securing quality and cost-friendly sources, logistics and transportation
						management, and the successful and timely delivery of our products
						right to your doorstep.</br></br>
						PT Sabbia Dharma Industries downstream oil division
						trades under the banner of PT TITAN TUNAS MAJU,
						a bearer of Izin Niaga Umum (INU) no. 278.K/10.01/DJM.O/2013
						which endorses legal security in all of our company’s services.
					</i>
					</h2>
				</div>
				
				<div class="col-md-6 col-xs-12 xl-padding-left-365 md-padding-left-100">
					<div class="col-md-12 col-xs-12 margin-top-50 mPadding10p25p">
						<div id="stories-about" class="">
							<a href="#" class="color-white">
								<img src ="img/youtube.png" style="width:8%;height:8%;" class="br-50 margin-right-10"/>Watch Our Story Here!
							</a>
							</br>
							</br>
							<a href="#" class="color-white">
								<img src ="img/youtube.png" style="width:8%;height:8%;" class="br-50 margin-right-10"/>Download Company Profile!
							</a>
						</div>	
					</div>
					<div class="col-md-12 col-xs-12">
						<div class="bg-gray margin-top-50 philosophy padding-md-top-15 md-padding-15">
							<img src="img/philo.png" class="margin-top-10 margin-right-10 padding-md-right-15"/>
							<h4 class="ta-l pos-abs">Sabbia <br/> Philosophy</h4>
							<h2 class="lg-balancing-philosopy">
								Lorem ipsum dolor sit amet,
								consectetuer adipiscing elit, sed
								diam nonummy nibh euismod
								tincidunt ut laoreet dolore magna
								aliquam erat volutpat. Ut wisi enim
								ad minim veniam, quis nostrud
								exerci tation ullamcorper suscipit
								lobortis nisl ut aliquip ex ea
								commodo consequat. Duis autem
								vel eum iriure dolor in hendrerit in
								vulputate velit esse molestie
								consequat, vel illum dolore eu
								feugiat nulla facilisis at vero eros et
								accumsan et.
							</h2>
						</div>
					</div>
				</div>
					
			</div>
			<div class="row pagefooter">
				<div class="col-md-3 col-xs-12 padding-md-top-15 lg-txtAlgnCenter">
					<img class="img-responsive footerLogo" style="margin-left:auto; margin-right:auto" src ="img/sabbia-white.gif" />
				</div>
				<div class="col-md-2 col-xs-12 margin-left-50 margin-top-10 txtAlgnCenter">
					<hr class="thin wdt-100">
						<a href="index.html">Home</a></br>
						<a href="about.html">About</a></br>
						<a href="service.html">Services</a></br>
						<a href="portfolio.html">Portfolios</a></br>
						<a href="connect.html">Connect</a></br>
				</div>
				<div class="col-md-3 col-xs-12 margin-left-50 margin-top-10 txtAlgnCenter">
					<hr class="thick wdt-100 bg-white">
						<b>Sabbia Building</b></br>
						Jalan Dr. Saharjo no. 123A<br/>
						Manggarai Selatan | Jakarta Selatan<br/>
						12860 | Indonesia
				</div>
				<div class="col-md-2 col-xs-12 margin-left-50 margin-top-10 txtAlgnCenter padding-md-bottom-15">
					<hr class="thin wdt-100">
						<div class="col-md-12 col-xs-6">
							<img class="img-responsive partners" src="img/arat.png" style="margin-bottom:10px">	
						</div>
						<div class="col-md-12 col-xs-6">
							Design Partner
						</div>
						
				</div>
			</div>
		</div>

		
        <!-- JavaScript & Jquery --> 
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
		<!-- Increasing Number -->
		 <script src="js/jquery.animateNumber.js"></script>
		<script>
		
		$("a[href='#top']").click(function() {
			  $("html, body").animate({ scrollTop: 0 }, "slow");
			  return false;
		});
		</script>
        <!-- Bootstrap --> 
        <script src="js/vendor/bootstrap.min.js"></script>
		<script src="js/main.js"></script>

    </body>
</html>
