<!doctype html>

<html class="no-js" lang="">

    <head>

        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title></title>

        <meta name="description" content="">

        <meta name="viewport" content="width=device-width, initial-scale=1">



        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <!-- Place favicon.ico in the root directory -->

        

        <link rel="stylesheet" href="css/bootstrap.min.css">

        <link rel="stylesheet" href="css/bootstrap-theme.min.css">

        

        <!-- Custom CSS -->

        <link rel="stylesheet" href="css/sidenav.css">

		<link rel="stylesheet" href="css/style.css">

		<link rel="stylesheet" href="css/library.css">

		<link rel="stylesheet" href="css/override.css">

		<!-- Google Font -->
		<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>

    </head>

    <body>

        <!-- navbar -->     
        <nav class="main navbar navbar-default sidebar" role="navigation">
            <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                <img id="brand" src="img/sabbia.PNG" class="" href="index.html"/>
            </div>
            <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="index.html">Home<span style="font-size:16px;"></span></a></li>
                <li class="dropdown">
                  <a href="about.html" class="dropdown-toggle" data-toggle="dropdown">About <span class="caret"></span><span style="font-size:16px;"></span></a>
                  <ul class="dropdown-menu forAnimate" role="menu">
                    <li><a href="about.html#board">Board</a></li>
                    <li><a href="about.html#glance">In a Glance</a></li>
                    <li><a href="legal.html">Legal</a></li>
                    <li><a href="chain.html#virtual">Virtual Supply Chain</a></li>
                    <li><a href="chain.html#distribution">Distribution Chain</a></li>
                  </ul>
                </li>     
                <li ><a href="service.html">Services<span style="font-size:16px;" ></span></a></li>
                <li ><a href="portfolio.html">Portofolios<span style="font-size:16px;" ></span></a></li>
                <li class="push"><a href="connect.html">Connect<span style="font-size:16px;" ></span></a></li>
                <li class="ta-c footer">
                	<span style="font-size:9px; margin-top:100%; margin-bottom:0;letter-spacing:0.25px;word-spacing:0.5px; color: #084975">
                		&copy; PT. Sabbia Dharma Industries, 2015
            		</span>
            	</li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- /navbar -->

		<div class="container margin-left-200" id="content">

			

			<div class="row banner2"></div>

			<div class="margin-left-30" id ="legal">

				<div class="row">

					<div class="col-md-4 col-xs-12 margin-top-50 margin-left-50 padding-md-top-15">

						<h1 class="margin-top-10">Legal</h1>

						<hr class="thin bg-gray wdt-75 pull-left">

					</div>

				</div>

				<div class="row">

					<div class="col-md-6 col-xs-12 margin-left-50">

						<h2>

							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam

							nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam

							erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci

							tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo

							consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate

							velit esse molestie consequat, vel illum dolore eu feugiat nulla

							facilisis at vero eros et accumsan et.

						</h2>	

					</div>

					<div class="col-md-4 col-xs-12 pull-right txtAlgnCenter">

						<img src="img/factory.jpg" class="wdt-75 hgt-75"/>

					</div>	

				</div>

				<br/>	

				<div class="row">

					<div class="col-md-6 col-xs-12 margin-left-50">

						<h2 class="color-bluedonker"><b>Terms of Services</b></h2>

						<h2>

							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam

							nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam

							erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci

							tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo

							consequat. 

						</h2>	

					</div>

					<div class="col-md-4 col-xs-12 pull-right txtAlgnCenter">

						<img src="img/factory.jpg" class="wdt-75 hgt-75"/>

					</div>

				</div>

				<div class="row">

					<div class="col-md-6 col-xs-12 margin-left-50">

						<h2 class="color-bluedonker"><b>Privacy Policy</b></h2>

						<h2>

							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam

							nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam

							erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci

							tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo

							consequat. 

						</h2>	

					</div>

				</div>

				

			</div>

		

			<div class="row pagefooter">
				<div class="col-md-3 col-xs-12 padding-md-top-15 lg-txtAlgnCenter">
					<img class="img-responsive footerLogo" style="margin-left:auto; margin-right:auto" src ="img/sabbia-white.gif" />
				</div>
				<div class="col-md-2 col-xs-12 margin-left-50 margin-top-10 txtAlgnCenter">
					<hr class="thin wdt-100">
						<a href="index.html">Home</a></br>
						<a href="about.html">About</a></br>
						<a href="service.html">Services</a></br>
						<a href="portfolio.html">Portfolios</a></br>
						<a href="connect.html">Connect</a></br>
				</div>
				<div class="col-md-3 col-xs-12 margin-left-50 margin-top-10 txtAlgnCenter">
					<hr class="thick wdt-100 bg-white">
						<b>Sabbia Building</b></br>
						Jalan Dr. Saharjo no. 123A<br/>
						Manggarai Selatan | Jakarta Selatan<br/>
						12860 | Indonesia
				</div>
				<div class="col-md-2 col-xs-12 margin-left-50 margin-top-10 txtAlgnCenter padding-md-bottom-15">
					<hr class="thin wdt-100">
						<div class="col-md-12 col-xs-6">
							<img class="img-responsive partners" src="img/arat.png" style="margin-bottom:10px">	
						</div>
						<div class="col-md-12 col-xs-6">
							Design Partner
						</div>
						
				</div>
			</div>
			<div class="row backtotop ta-c">
				<a href="#top"><h3>Back To Top<img src="img/top.png"/></h3></a>
			</div>

			

		</div>



		

        <!-- JavaScript & Jquery --> 

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

		<!-- Increasing Number -->

		 <script src="js/jquery.animateNumber.js"></script>

		<script>

		$(window).scroll(function() {

		if ($('#increasing').is(':visible')) {

			var comma_separator_number_step = $.animateNumber.numberStepFactories.separator(',')

				$('#increasing').animateNumber(

				  {

					number: 1230000000,

					numberStep: comma_separator_number_step

				  }

				);

			}

		});

		$("a[href='#top']").click(function() {

			  $("html, body").animate({ scrollTop: 0 }, "slow");

			  return false;

		});

		</script>

        <!-- Bootstrap --> 

        <script src="js/vendor/bootstrap.min.js"></script>
		<script src="js/main.js"></script>


    </body>

</html>

