<!doctype html>

<html class="no-js" lang="">

    <head>

        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title></title>

        <meta name="description" content="">

        <meta name="viewport" content="width=device-width, initial-scale=1">



        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <!-- Place favicon.ico in the root directory -->

        

        <link rel="stylesheet" href="css/bootstrap.min.css">

        <link rel="stylesheet" href="css/bootstrap-theme.min.css">

        

        <!-- Custom CSS -->

        <link rel="stylesheet" href="css/sidenav.css">

		<link rel="stylesheet" href="css/style.css">

		<link rel="stylesheet" href="css/library.css">

		<link rel="stylesheet" href="css/override.css">

		<!-- Google Font -->
		<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>

    </head>

    <body>

        <!-- navbar -->     
        <nav class="main navbar navbar-default sidebar" role="navigation">
            <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                <img id="brand" src="img/sabbia.PNG" class="" href="index.html"/>
            </div>
            <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="index.html">Home<span style="font-size:16px;"></span></a></li>
                <li class="dropdown">
                  <a href="about.html" class="dropdown-toggle" data-toggle="dropdown">About <span class="caret"></span><span style="font-size:16px;"></span></a>
                  <ul class="dropdown-menu forAnimate" role="menu">
                    <li><a href="about.html#board">Board</a></li>
                    <li><a href="about.html#glance">In a Glance</a></li>
                    <li><a href="legal.html">Legal</a></li>
                    <li><a href="chain.html#virtual">Virtual Supply Chain</a></li>
                    <li><a href="chain.html#distribution">Distribution Chain</a></li>
                  </ul>
                </li>     
                <li ><a href="service.html">Services<span style="font-size:16px;" ></span></a></li>
                <li ><a href="portfolio.html">Portofolios<span style="font-size:16px;" ></span></a></li>
                <li class="push"><a href="connect.html">Connect<span style="font-size:16px;" ></span></a></li>
                <li class="ta-c footer">
                	<span style="font-size:9px; margin-top:100%; margin-bottom:0;letter-spacing:0.25px;word-spacing:0.5px; color: #084975">
                		&copy; PT. Sabbia Dharma Industries, 2015
            		</span>
            	</li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- /navbar -->

		<div class="container margin-left-200" id="content">

			<div id="firstPortfolio" class ="portfolio row">

				<div class="col-md-3 col-xs-12 pull-right margin-top-50 padding-md-top-75">

					<h1 class="txtAlgnCenter"> Customer Portfolio </h1>

				</div>


					<img id="portfolioIcon" src="img/sabbia-white.gif" class="wdt-10"/>


			</div>

			<div class="row banner1"></div>

			<div class="bg-gray row otherPortfolio portfolio">

				

					<hr class="thin wdt-25 bg-darkgray pull-left overrideWidth30">

					<hr class="thin wdt-70 bg-darkgray pull-right">

					<div class="col-md-3 col-xs-6 txtAlgnCenter">

						<font class="color-white margin-left-30">01</font>

					</div>

					<div class="col-md-3 col-xs-6 margin-left-50 txtAlgnCenter">

						<img src="img/logo1.png" class="wdt-75 hgt-75 margin-top-30"/>

					</div>

					<div class="col-md-4 col-xs-12 margin-left-50 txtAlgnCenter padding-md-top-15 padding-md-bottom-15">

					<h1 style="font-size:40px;" class="color-darkgray">PT Hadji Kalla</h1>

						<h2>

							<i>

								Lorem ipsum dolor sit amet, consectetuer

								adipiscing elit, sed diam nonummy nibh

								euismod tincidunt ut laoreet dolore magna

								aliquam erat volutpat.

							</i>

						</h2>

					</div>

				

					<img class="img-responsive" src ="img/boatcrop.jpg" >

			

			</div>

			<div class="bg-gray row otherPortfolio portfolio">

				

					<hr class="thin wdt-25 bg-darkgray pull-left overrideWidth30">

					<hr class="thin wdt-70 bg-darkgray pull-right">

					<div class="col-md-3 col-xs-6 txtAlgnCenter">

						<font class="color-white margin-left-30">02</font>

					</div>

					<div class="col-md-3 col-xs-6 margin-left-50">

						<img src="img/logo2.gif" class="wdt-75 hgt-75 margin-top-30"/>

					</div>

					<div class="col-md-4 col-xs-12 margin-left-50 txtAlgnCenter padding-md-top-15 padding-md-bottom-15">

					<h1 style="font-size:40px;" class="color-darkgray">PT Bukaka Teknik Utama</h1>

						<h2>

							<i>

								Lorem ipsum dolor sit amet, consectetuer

								adipiscing elit, sed diam nonummy nibh

								euismod tincidunt ut laoreet dolore magna

								aliquam erat volutpat.

							</i>

						</h2>

					</div>

				

					<img class="img-responsive" src ="img/boatcrop.jpg" >

			

			</div>

			<div class="bg-gray row otherPortfolio portfolio">

				

					<hr class="thin wdt-25 bg-darkgray pull-left overrideWidth30">

					<hr class="thin wdt-70 bg-darkgray pull-right">

					<div class="col-md-3 col-xs-6 txtAlgnCenter">

						<font class="color-white margin-left-30">03</font>

					</div>

					<div class="col-md-3 col-xs-6 margin-left-50">

						<img src="img/logo3.png" class="wdt-75 hgt-75 margin-top-30"/>

					</div>

					<div class="col-md-4 col-xs-12 margin-left-50 txtAlgnCenter padding-md-top-15 padding-md-bottom-15">

					<h1 style="font-size:40px;" class="color-darkgray">PT Nusa Konstruksi Enjinering Tbk</h1>

						<h2>

							<i>

								Lorem ipsum dolor sit amet, consectetuer

								adipiscing elit, sed diam nonummy nibh

								euismod tincidunt ut laoreet dolore magna

								aliquam erat volutpat.

							</i>

						</h2>

					</div>

				

					<img class="img-responsive" src ="img/boatcrop.jpg" >

			

			</div>

			<div class="bg-gray row portfoliolast">

				

					<hr class="thin wdt-25 bg-darkgray pull-left">

					<hr class="thin wdt-70 bg-darkgray pull-right">

					<div class="col-md-3 col-xs-12">

						<h1 style="font-size:80px;color:#fff;">Others</h1>

					</div>

					<div class="col-md-4 col-xs-12 margin-left-50">

						<h2>

							<i>

								PT Batuhitam Sumber Arta</br>

								PT Bumi Lintas Tama</br>

								PT Geokonsultan Solusindo</br>

								PT Balikpapan Ready Mix Pile</br>

								PT Nusa Konstruksi Enjiniring, Tbk.</br>

								PT Poso Energy</br>

								PT Malea Energy</br>

								You!

							</i>

						</h2>

					</div>

				

			

			</div>

			

			

			

			<div class="row pagefooter">
				<div class="col-md-3 col-xs-12 padding-md-top-15 lg-txtAlgnCenter">
					<img class="img-responsive footerLogo" style="margin-left:auto; margin-right:auto" src ="img/sabbia-white.gif" />
				</div>
				<div class="col-md-2 col-xs-12 margin-left-50 margin-top-10 txtAlgnCenter">
					<hr class="thin wdt-100">
						<a href="index.html">Home</a></br>
						<a href="about.html">About</a></br>
						<a href="service.html">Services</a></br>
						<a href="portfolio.html">Portfolios</a></br>
						<a href="connect.html">Connect</a></br>
				</div>
				<div class="col-md-3 col-xs-12 margin-left-50 margin-top-10 txtAlgnCenter">
					<hr class="thick wdt-100 bg-white">
						<b>Sabbia Building</b></br>
						Jalan Dr. Saharjo no. 123A<br/>
						Manggarai Selatan | Jakarta Selatan<br/>
						12860 | Indonesia
				</div>
				<div class="col-md-2 col-xs-12 margin-left-50 margin-top-10 txtAlgnCenter padding-md-bottom-15">
					<hr class="thin wdt-100">
						<div class="col-md-12 col-xs-6">
							<img class="img-responsive partners" src="img/arat.png" style="margin-bottom:10px">	
						</div>
						<div class="col-md-12 col-xs-6">
							Design Partner
						</div>
						
				</div>
			</div>
			<div class="row backtotop ta-c">
				<a href="#top"><h3>Back To Top<img src="img/top.png"/></h3></a>
			</div>

			

		</div>



		

        <!-- JavaScript & Jquery --> 

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

		<!-- Increasing Number -->

		 <script src="js/jquery.animateNumber.js"></script>

		<script>

		$("a[href='#top']").click(function() {

			  $("html, body").animate({ scrollTop: 0 }, "slow");

			  return false;

		});

		</script>

        <!-- Bootstrap --> 

        <script src="js/vendor/bootstrap.min.js"></script>
		<script src="js/main.js"></script>


    </body>

</html>

